/**************************/
/* REUSABLE CLASSES */
/**************************/
.container {
  max-width: 120rem; /*convention: 1140px*/
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;

  display: inline-block;
  padding-bottom: 2px;
}

.link:active,
.link:hover {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/**************************/
/*BUTTONS HERO SECTION*/
/**************************/
.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;

  display: inline-block;
  padding: 1.6rem 3.2rem; /*half top bottom, double right and left*/
  border-radius: 9px;

  /*animation*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background: none;

  /*trick to add border hover without jumping*/
  /*create the border inside of the element*/
  box-shadow: 0 0 0 2px #fff;
}
