/*==========================*/
/*=====REUSABLE CLASSES=====*/
/*==========================*/
.margin-right-sm {
  margin-right: 1.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center-vertical {
  align-items: center;
}

strong {
  font-weight: 500;
}
