@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*1rem = 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**************************/
/*HEADER AND LOGO*/
/**************************/
.header {
  background: #fdf2e9;
  height: 9.6rem; /*Because we want header to be sticky*/
  position: sticky;
  top: 0;
  padding: 0 4.8rem; /*padding para dar espaçamento left/right, o mesmo pode ser feito usando max-width*/

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.2rem; /*altura para definir tamanho de logo*/
}

/**************************/
/*TOP NAV*/
/**************************/
.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block; /*mudando display porque será aplicado padding top/bottom posteriormente*/
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  /*animation*/
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem; /*aplicando padding top/bottom*/
  border-radius: 9px;
  color: #fff;
  background: #e67e22;
}

.nav-cta:hover,
.nav-cta:active {
  background: #cf711f;
}

/**************************/
/*HERO SECTION*/
/**************************/
.section-hero {
  background: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem; /*espaçamento flexível left/right*/
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;

  /*align items vertically to center*/
  align-items: center;
}

.hero-img {
  width: 100%; /*use (%) para deixar a imagem flexível ao tamanho da tela*/
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.6rem;
}

/**************************/
/*BUTTONS HERO SECTION*/
/**************************/
.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;

  display: inline-block;
  padding: 1.6rem 3.2rem; /*half top bottom, double right and left*/
  border-radius: 9px;

  /*animation*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background: none;

  /*trick to add border hover without jumping*/
  /*create the border inside of the element*/
  box-shadow: 0 0 0 2px #fff;
}

/**************************/
/*CLIENTS*/
/**************************/
.delivered-meals {
  margin-top: 3.2rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-images img:last-child {
  margin-right: 0; /*removendo margin aplicado a todas as imgs, para o gap funcionar*/
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/*FEATURED SECTION*/
/**************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
  /**/
  filter: grayscale(100%);
}

.logos img {
  height: 3.2rem; /*altura para definir tamanho de imagens*/
}

/**************************/
/* HOW IT WORKS */
/**************************/
.section-how {
  padding: 9.6rem 0;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  display: block; /*mudando o display para poder aplicar margin-bottom*/
  margin-bottom: 1.6rem; /*aplicando margin-bottom*/
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*círculo maior*/
.step-image-box::before {
  content: '';
  display: block;

  width: 60%;
  /* height 60% of the parent width */
  padding-bottom: 60%;
  background: #fdf2e9;

  /*centralizando horizontal e verticalmente*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  z-index: -2;
}

/*círculo menor*/
.step-image-box::after {
  content: '';
  display: block;

  width: 45%;
  /* height 50% of the parent width */
  padding-bottom: 45%;
  background: #fae5d3;

  /*centralizando horizontal e verticalmente*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/**************************/
/* MEALS SECTION */
/**************************/
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.4);
  border-radius: 11px;
  overflow: hidden; /**/
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline; /*mudando display para conseguir aplicar padding padding top/bottom*/
  padding: 0.4rem 0.8rem; /*aplicando padding top/bottom*/
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background: #51cf66;
}

.tag--vegan {
  background: #94d82d;
}

.tag--paleo {
  background: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

/*DIETS AVAILABLE*/
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.checkmark-outline {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/*ALL RECIPES*/
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  display: block; /*remove whitespaces from images*/
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/**************************/
/* SECTION PRICING */
/**************************/
.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

/*STARTER PLAN*/
.pricing-plan:first-child {
  border: 4px solid #fdf2e9;
  justify-self: end;
  padding: 4.4rem;
}

/*COMPLETE PLAN*/
.pricing-plan:last-child {
  background: #fdf2e9;
  justify-self: start;
  padding: 4.8rem;

  position: relative;
  overflow: hidden;
}

.pricing-plan:last-child::after {
  content: 'Best value';
  background: #ffd43b;
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;

  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.starter-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-button {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
}

/**************************/
/* FEATURES PART */
/**************************/
.feature {
  margin-top: 9.6rem;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;

  background: #fdf2e9;
  color: #e67e22;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* CTA SECTION */
/**************************/

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  overflow: hidden;
  margin-bottom: 16rem; /**********/
}

/*FORM*/
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit; /*herdar mesma fonte do body*/

  color: inherit;
  border: none;
  background: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  align-self: end;
}

.cta-form button {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;

  display: inline-block;
  padding: 1.2rem; /*half top bottom, double right and left*/
  border: none;

  width: 100%;
  border-radius: 9px;
  cursor: pointer;
  background: #45260a;
  color: #fdf2e9;
  align-self: end;

  /*animation*/
  transition: all 0.3s;
}

.cta-form button:hover {
  background: #fff;
  color: #555;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-content {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-image {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url('../images/eating.jpg');
  background-size: cover;
  background-position: center;
}

/**************************/
/* REUSABLE CLASSES */
/**************************/
.container {
  max-width: 120rem; /*convention: 1140px*/
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;

  display: inline-block;
  padding-bottom: 2px;
}

.link:active,
.link:hover {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
