@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*1REM = 10px*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*======================*/
/*========HEADER========*/
/*======================*/
.header {
  background: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*altura fixa para fazer o header sticky depois*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/*===================*/
/*========NAV========*/
/*===================*/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block; /*para o padding funcionar*/
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  /*animação*/
  transform: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/*aplica estilo apenas ao elemento que tem as duas classes*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block; /*para o padding funcionar*/
  color: #fff;
  background: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #cf711f;
}

/*====================*/
/*====HERO SECTION====*/
/*====================*/
.section-hero {
  background: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0; /*espaço top e bottom entre as sections*/
}

.hero-container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  /*grid container*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block; /*para o padding funcionar*/
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /*animação*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background: #fdf2e9;

  /*adicionar borda dentro do elemento*/
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;

  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  /*manter imagem com tamanho flexível*/
  max-width: 100%;
}

/*========================*/
/*====FEATURED SECTION====*/
/*========================*/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.75x;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
}

/*============================*/
/*====HOW IT WORKS SECTION====*/
/*============================*/
.section-how {
  padding: 9.6rem 0;
}

.subheading {
  display: block; /*para realizar a quebra de linha no span*/
  color: #cf711f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/*CIRCLES*/
.step-img-box::before {
  content: '';
  display: block;
  width: 60%;
  /* height: 60%; */
  /*60% do width do pai*/
  padding-bottom: 60%;
  border-radius: 50%;
  background: #fdf2e9;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.step-img-box::after {
  content: '';
  display: block;
  width: 45%;
  /* height: 50%; */
  /*45% do width do pai*/
  padding-bottom: 45%;
  border-radius: 45%;
  background: #fae5d3;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img {
  max-width: 35%;
}

/*=====================*/
/*====MEALS SECTION====*/
/*=====================*/
.section-meals {
  padding: 9.6rem 0;
}

.section-meals .container:first-child {
  text-align: center;
}
